---
const currentYear = new Date().getFullYear();
---

<div class="w-full text-center text-sm text-gray-500 dark:text-zinc-500 py-6 lg:py-4 px-6 lg:px-0">
    <p>&copy; {currentYear} - Jeffrey Ango, Senior Frontend Engineer. Built with Astro, Tailwind CSS and deployed with Vercel.</p>
</div>