---
import ContentList from "../ContentList";
import Contact from "../Contact";
---

<div class="w-full lg:w-[50%] flex flex-col pt-[72px] lg:h-screen lg:sticky lg:top-0">
    <h2 class="text-3xl md:text-4xl lg:text-6xl xl:text-8xl font-bold mb-4 text-ink dark:text-zinc-50">
        Ango Jeffrey
    </h2>
    <h4 class="text-lg sm:text-xl lg:text-2xl font-medium mb-4 text-ink/90 dark:text-zinc-200">
        Senior Frontend Engineer
    </h4>
    <p class="text-sm lg:text-base mb-10 text-gray-600 dark:text-zinc-400">
        Building scalable, user friendly and elegant web and mobile applications.
    </p>
    <Contact />
    <ContentList
    client:load
    />
</div>