---
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Layout from '../layouts/Layout.astro';
import ProjectCard from "../components/cards/ProjectCard";
import projects from "../data/projects.json";
import articles from "../data/articles.json";
import ArticleCard from "../components/cards/ArticleCard";
import '../styles/global.css';

---

<Layout>
<div class="w-full container mx-auto px-4 lg:px-10 ">
<div class="w-full flex gap-10">
	<Hero />
	<div class="w-[50%]">
		<About />
		<section
		id="projects"
		class="w-full flex flex-col gap-10 py-10">
			{projects.map((project) => (
			  <ProjectCard
				{...project}
			  />
			))}
		</section>
		<section
		id="articles"
		class="w-full flex flex-col gap-10 py-10">
			{articles.map((article) => (
			  <ArticleCard
				{...article}
			  />
			))}
		</section>
	</div>

</div>
</div>
</Layout>
