---
import Hero from '../components/sections/Hero.astro';
import Introduction from '../components/sections/Introduction.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<div class="w-full container mx-auto px-4 lg:px-10 ">
<div class="w-full flex gap-10">
	<Hero />
	<Introduction />
</div>
</div>
</Layout>
